---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Homepage">
  <h1 class="typo-title">Rock Your Astro (Blank)</h1>
  <p class="typo-p uppercase">Welcome to the "blank" version of Rock You Astro's template!</p>
</Layout>
